<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <p>Search location: {{city}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <!-- <p>Data: {{ restaurant }}</p> -->
        <h2>Top Restaurant:</h2> 
        <section>
            <img src = {{ restaurant.image_url }} alt = "picture of restaurant" width="250"/>
            <h3>Name: {{ restaurant.get('name') }}</h3>
            <p>Price: $$ </p>
            <p>Rating: {{ restaurant.rating }} </p>
            <p>Address: {{restaurant.display_address }}</p>
            <p>Review Count: {{restaurant.review_count }}</p>
        </section>

    </main>
</body>
</html>

